---
import Layout from "../layouts/Layout.astro";
import { PortfolioDashboard } from "../components/portfolio/PortfolioDashboard";
---

<Layout>
  <main class="w-full">
    <PortfolioDashboard client:load />
  </main>
</Layout>
